<h1>Angular Reddit</h1>

<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" #newtitle>
  </div>

  <div class="field">
    <label for="link">Link:</label>
    <input type="text" name="link" id="link" #newlink>
  </div>

  <div class="field">
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" #newauthor>
  </div>

  <button class="ui positive button" (click)="addArticle(newtitle, newlink, newauthor)">Submit</button>

</form>

<div *ngIf="articles.length > 2" class="ui message">There are more than 2 articles in  the list!</div>

<div [ngSwitch]="articles.length" [ngClass]="articles.length > 2 ? 'ui message warning' : 'ui message'">
  <div *ngSwitchCase="1">There is <span style="color: red;">1</span> article</div>
  <div *ngSwitchCase="2">There are <span [style.color]="'white'">2</span> articles</div>
  <div *ngSwitchCase="3">There are <span [style.font-size.px]="20">3</span> articles</div>
  <div *ngSwitchCase="4">There are <span [ngStyle]="{color:'blue', 'font-size':24 + 'px'}">4</span> articles</div>
  <div *ngSwitchDefault>Other</div>
</div>

<a href (click)="toggleSort()">
  <i class="sort icon">Sorting</i>
</a>

<div class="ui grid posts">
  <app-article *ngFor="let article of sortedArticles(); let i=index"
  [article]="article" [index]="i + 1" (onDelete)="deleteArticleFromArray($event)">
  </app-article>
</div>